@import "settings";
@import "foundation";

body {
	background: #f3f3f3;
}


.clearfix:after {
	content:"";
	display:table;
	clear:both;
}


h2,
h3,
h4,
h5,
h6 {
	color: $primary-color;
}


.button {
	border: 1px solid $primary-color;
	&.secondary {
		border: 1px solid $primary-color;
		background: $white;
		color: $primary-color;
	}
	&.orange {
		background: $primary-color;
		border: none;
	}
	&.blue {
		background: $blue;
		border: none;
	}
	&.purple {
		background: $purple;
		border: none;
	}
	&.red {
		background: $red;
		border: none;
	}
}


.checkbox-wrapper {
	float: left;
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 10px;
	background: url('../images/checkbox.png') no-repeat bottom;
	cursor: pointer;
	&.checked {
		background-position: top;
	}
	input[type="checkbox"] {
		opacity: 0;
	}
}


.header-wrapper {
	background: url(../images/page-header.jpg) no-repeat;
	background-size: cover;
}
.header {
	background: url(../images/header-top.png) no-repeat;
	background-size: cover;
	position: relative;
	.top {
		padding: 20px 0;
	}
	.navigation {
		background: rgba(255, 255, 255, 0.7);
		border-top: 1px solid $smoke;
		-webkit-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.27);
		-moz-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.27);
		box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.27);
		ul {
			margin: 0;
			list-style: none;
			li {
				display: inline-block;
				&.current_page_item {
					a {
						color: $primary-color;
					}
				}
				a {
					display: block;
					padding: 15px 20px;
					font-size: 14px;
					color: #a0a0a0;
					text-transform: uppercase;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}
	.search {
		margin-top: 14px;
		i {
			font-size: 24px;
			color: #a0a0a0;
			cursor: pointer;
		}
	}
	.button {
		&.secondary {
			background: rgba(255, 255, 255, 0.4);
		}
	}
}


.footer {
	padding: 40px;
	background: url(../images/footer.jpg) no-repeat;
	background-size: cover;
	h6 {
		margin: 0;
		padding: 10px 15px;
		background-size: cover;
		font-size: 24px;
		color: $white;
		position: relative;
		i {
			width: 14px;
			height: 7px;
			position: absolute;
			bottom: -7px;
			left: 25px;
			z-index: 99999;
		}
	}
	p {
		margin: 0;
	}
	.inner {
		min-height: 170px;
		padding: 20px;
		background: $white;
		position: relative;
	}
	.contact {
		h6 {
			background: url(../images/footer-contact.jpg) no-repeat;
			background-size: cover;
			i {
				background: url(../images/widget-title-footer-purple.png) no-repeat;
			}
		}
		strong {
			font-size: 18px;
			color: $primary-color;
		}
	}
	.socials {
		h6 {
			background: url(../images/footer-socials.jpg) no-repeat;
			background-size: cover;
			i {
				background: url(../images/widget-title-footer-orange.png) no-repeat;
			}
		}
	}
	.hours {
		h6 {
			background: url(../images/footer-hours.jpg) no-repeat;
			background-size: cover;
			i {
				background: url(../images/widget-title-footer-blue.png) no-repeat;
			}
		}
		.inner {
			padding: 0;
			table {
				width: 100%;
				border: none;
				border-collapse: collapse;
				tr {
					&:nth-child(even) {
						td {
							background: #f3f3f3;
							font-weight: bold;
							color: $black;
						}
					}
				}
				td {
					padding: 15px;
					color: $body-font-color;
					&:last-child {
						text-align: right;
					}
				}
			}
		}
	}
	.copyright {
		margin: 0;
		margin-top: 30px;
		font-size: 14px;
		color: #c4c6ca;
	}
}


.page-header {
	background: url(../images/page-header2.jpg) no-repeat center;
	background-size: cover;
}


.empty-ribbon {
	width: 100%;
	margin: 40px 0;
}


.filter-toolbar {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	.button {
		padding: 10px 15px;
		font-weight: normal;
	}
	.location {
		label {
			float: left;
			margin-top: 12px;
			margin-right: 10px;
			color: $primary-color;
		}
		.filter-button {
			float: left;
			position: relative;
			span {
				display: inline-block;
				width: 200px;
				padding: 10px 15px;
				background: $primary-color;
				color: $white;
				cursor: pointer;
				i {
					float: right;
					margin-top: 5px;
				}
			}
			ul {
				display: none;
				width: 200px;
				margin: 0;
				list-style: none;
				background: $primary-color;
				position: absolute;
				left: 0;
				z-index: 99999;
				&.active {
					display: block;
				}
				a {
					display: block;
					padding: 10px 15px;
					color: $white;
					&:hover {
						background: #E8520D;
					}
				}
			}
		}
	}
	.filter-by {
		label {
			float: left;
			margin-top: 12px;
			margin-right: 10px;
			color: $primary-color;
		}
		.filter-button {
			float: left;
			position: relative;
			span {
				display: inline-block;
				width: 150px;
				padding: 10px 15px;
				background: $primary-color;
				color: $white;
				cursor: pointer;
				i {
					float: right;
					margin-top: 5px;
				}
			}
			ul {
				display: none;
				width: 150px;
				margin: 0;
				list-style: none;
				background: $primary-color;
				position: absolute;
				z-index: 99999;
				&.active {
					display: block;
				}
				a {
					display: block;
					padding: 10px 15px;
					color: $white;
					&:hover {
						background: #E8520D;
					}
				}
			}
		}
	}
	.checkbox-column {
		.checkbox-wrapper {
			margin-top: 11px;
		}
		label {
			float: left;
			margin-top: 12px;
			margin-right: 10px;
			color: $primary-color;
		}
	}
}


/* Home */
.home-map {
	height: 400px;
	background: url(../images/home-map.jpg) no-repeat;
	background-size: cover;
	.row {
		.columns {
			min-height: 400px;
		}
	}
	h1 {
		margin: 0;
		margin-top: 155px;
		font-weight: 300;
		font-size: 70px;
		color: $primary-color;
		span {
			display: inline-block;
			padding: 0 30px;
			background: $primary-color;
			font-weight: 600;
			color: $white;
		}
	}
	.pin1 {
		position: absolute;
		top: 60px;
		left: 250px;
	}
	.pin2 {
		position: absolute;
		top: 40px;
		right: 100px;
	}
	.pin3 {
		position: absolute;
		bottom: 30px;
		right: 300px;
	}
}

.review-ribbon {
	padding: 25px 0;
	background: url(../images/ribbon.jpg) no-repeat;
	background-size: cover;
	h2 {
		margin: 0;
		margin-top: 7px;
		font-size: 24px;
		color: $white;
	}
}

.home-boxes {
	.columns {
		margin-bottom: 40px;
	}
	img {
		display: block;
		width: 100%;
	}
	h3 {
		margin: 0;
		padding: 10px 15px;
		font-size: 18px;
		a {
			display: block;
			color: $white;
		}
		&.red {
			background: url(../images/h3-red.jpg) no-repeat;
			background-size: cover;
		}
		&.blue {
			background: url(../images/h3-blue.jpg) no-repeat;
			background-size: cover;
		}
		&.orange {
			background: url(../images/h3-orange.jpg) no-repeat;
			background-size: cover;
		}
		&.purple {
			background: url(../images/h3-purple.jpg) no-repeat;
			background-size: cover;
		}
	}
}


.page-content {
	margin-bottom: 40px;
	.main {
		padding: 30px;
	}
	.load-more-posts {
		display: block;
		width: 100%;
		margin: 30px 0;
		padding: 15px;
		background: url(../images/empty-ribbon.jpg) no-repeat;
		background-size: cover;
		color: $white;
		text-align: center;
		&.done {
			display: none;
		}
	}
}


/* Page */
.page-header {
	h1 {
		margin: 0;
		margin-top: 150px;
		padding: 15px 15px;
		background: rgba(246, 94, 19, 0.8);
		color: $white;
	}
}


/* Blog */
.main-posts {
	margin-top: 60px;
	.post-item {
		margin-top: 35px;
		background: $white;
		.post-image-wrapper {
			width: 100%;
			height: 194px;
			overflow: hidden;
		}
		.post-item-content {
			height: 250px;
			padding: 18px;
			background: #FFF7F6;
		}
		h3 {
			margin: 0;
			font-size: 18px;
		}
		p {
			margin: 0;
		}
		.meta {
			padding: 5px 18px;
			position: relative;
			&.purple {
				background: url(../images/widget-title-purple.jpg) no-repeat;
				background-size: cover;
				.arrow {
					background: url(../images/meta-arrow-purple.png) no-repeat;
				}
			}
			&.orange {
				background: url(../images/widget-title-orange.jpg) no-repeat;
				background-size: cover;
				.arrow {
					background: url(../images/meta-arrow-orange.png) no-repeat;
				}
			}
			&.red {
				background: url(../images/widget-title-red.jpg) no-repeat;
				background-size: cover;
				.arrow {
					background: url(../images/meta-arrow-red.png) no-repeat;
				}
			}
			&.blue {
				background: url(../images/widget-title-blue.jpg) no-repeat;
				background-size: cover;
				.arrow {
					background: url(../images/meta-arrow-blue.png) no-repeat;
				}
			}
			p {
				float: left;
				font-size: 13px;
				line-height: 32px;
				text-transform: uppercase;
				color: $white;
			}
			.arrow-wrapper {
				float: right;
				width: 28px;
				height: 28px; 
				margin-top: 2px;
				padding: 4px 6px;
				background: none repeat scroll 0 0 #fff;
				text-align: center;
				line-height: 18px;
				border-radius: 50%;
				color: #717f8d;
				i {
					font-size: 19px;
					color: #717f8d;
				}
			}
			.arrow {
				width: 14px;
				height: 7px;
				position: absolute;
				top: -7px;
				right: 25px;
			}
		}
	}
}


.comments {
	margin-top: 45px;
	h3 {
		color: $primary-color;
	}
	.commentlist {
		margin: 0;
		list-style: none;
		h3 {
			color: $primary-color;
		}
		h5 {
			margin: 0;
			.comment-reply-link {
				float: right;
				font-size: 14px;
			}
		}
		.comment {
			padding: 30px 0;
			border-bottom: 1px solid #e6e6e6;
			.comment-body {
				p {
					margin: 0;
					margin-top: 10px;
					font-size: 14px;
				}
			}
			.comment-meta {
				font-size: 14px;
			}
		}
		.children {
			margin-left: 65px;
			list-style: none;
			.comment {
				&:last-child {
					padding-bottom: 0;
					border-bottom: 0;
				}
			}
		}
	}
}


#respond {
	margin-top: 30px;
	h3 {
		color: $primary-color;
	}
	p {
		font-size: 14px;
	}
	label {
		em {
			color: red;
		}
	}
}


/* Sidebar */
.sidebar {
	margin-top: 40px;
	.widget {
		margin-bottom: 25px;
		img {
			width: 100%;
		}
		.widget-title {
			margin: 0;
			padding: 15px 15px;
			font-size: 24px;
			color: $white;
			position: relative;
			i {
				width: 16px;
				height: 8px;
				position: absolute;
				bottom: -8px;
				left: 35px;
			}
			&.orange {
				background: url(../images/widget-title-orange.jpg) no-repeat;
				background-size: cover;
				i {
					background: url(../images/widget-title-orange-triangle.png) no-repeat;
				}
			}
			&.purple {
				background: url(../images/widget-title-purple.jpg) no-repeat;
				background-size: cover;
				i {
					background: url(../images/widget-title-purple-triangle.png) no-repeat;
				}
			}
			&.yellow {
				background: url(../images/widget-title-yellow.jpg) no-repeat;
				background-size: cover;
				i {
					background: url(../images/widget-title-yellow-triangle.png) no-repeat;
				}
			}
		}
		.widget-content {
			padding: 25px;
			background: $white;
			h4 {
				margin: 0;
			}
			p {
				margin: 0;
			}
		}

		&.latest-posts {
			ul {
				margin: 0;
				list-style: none;
				li {
					margin-bottom: 30px;
				}
			}
			.post-image-wrapper {
				width: 100%;
				height: 194px;
				overflow: hidden;
			}
			.post-item-content {
				height: 250px;
				padding: 18px;
				background: #FFF7F6;
			}
			.meta {
				padding: 10px 25px;
				background: url(../images/widget-title-purple.jpg) no-repeat;
				background-size: cover;
				p {
					float: left;
					margin: 0;
					line-height: 32px;
					color: $white;
				}
				i {
					float: right;
					font-size: 32px;
					color: $white;
				}
			}
		}
		&.related-posts {
			ul {
				margin: 0;
				list-style: none;
			}
			li {
				margin-bottom: 30px;
			}
			.post-image-wrapper {
				width: 100%;
				height: 194px;
				overflow: hidden;
			}
			.post-item-content {
				height: 250px;
				padding: 18px;
				background: #FFF7F6;
			}
			.meta {
				padding: 5px 18px;
				background: url(../images/widget-title-purple.jpg) no-repeat;
				background-size: cover;
				position: relative;
				p {
					float: left;
					margin: 0;
					font-size: 13px;
					line-height: 32px;
					text-transform: uppercase;
					color: $white;
				}
				.arrow-wrapper {
					float: right;
					width: 28px;
					height: 28px; 
					margin-top: 2px;
					padding: 4px 6px;
					background: none repeat scroll 0 0 #fff;
					text-align: center;
					line-height: 18px;
					border-radius: 50%;
					color: #717f8d;
					i {
						font-size: 19px;
						color: #717f8d;
					}
				}
				.arrow {
					width: 14px;
					height: 7px;
					background: url(../images/meta-arrow.png) no-repeat;
					position: absolute;
					top: -7px;
					right: 25px;
				}
			}
		}
		&.tags {
			a {
				display: inline-block;
				margin: 5px;
				padding: 10px 20px;
				background: #ec9517;
				font-size: 14px;
				color: $white;
			}
		}
	}
}


/* Classes */
.class-categories {
	img {
		display: block;
		width: 100%;
	}
	h3 {
		margin: 0;
		padding: 10px 15px;
		font-size: 18px;
		a {
			display: block;
			color: $white;
		}
		&.red {
			background: url(../images/h3-red.jpg) no-repeat;
			background-size: cover;
		}
		&.blue {
			background: url(../images/h3-blue.jpg) no-repeat;
			background-size: cover;
		}
		&.orange {
			background: url(../images/h3-orange.jpg) no-repeat;
			background-size: cover;
		}
		&.purple {
			background: url(../images/h3-purple.jpg) no-repeat;
			background-size: cover;
		}
	}
	p {
		margin: 0;
		padding: 15px;
	}
}


/* Contact */
.contact-form {
	p {
		&:after {
			content:"";
			display:table;
			clear:both;	
		}
	}
	br {
		display: none;
	}
	label {
		float: left;
		width: 100px;
	}
	input[type="text"],
	input[type="email"] {
		float: left;
		margin: 0;
		max-width: 600px;
	}
	textarea {
		float: left;
		max-width: 600px;
		height: 200px;
		margin: 0;
	}
	input[type="submit"] {
		margin-left: 100px;
	}
}



/* Shop */
.products-list {
	h3 {
		margin: 0;
		padding: 10px;
		font-size: 14px;
		a {
			color: #494f5c;
		}
	}
}


/* Gym List */
.main-gym-list {
	margin-top: 30px;
}


/* Gym */
.main-gym {
	padding-top: 30px;
	background: $white;
	.gym-inner {
		padding: 20px;
		.gym-price {
			margin-top: 10px;
			span {
				font-weight: 600;
				color: $primary-color;
			}
		}
		p {
			span {
				color: $primary-color;
			}
		}
	}
}

.gym-item {
	margin-bottom: 30px;
	position: relative;
	.gym-image {
		width: 100%;
	}
	.gym-logo {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.meta {
		padding: 15px 30px;
		&.red {
			background: url(../images/meta-red.jpg) no-repeat;
			background-size: cover;
		}
		&.purple {
			background: url(../images/meta-purple.jpg) no-repeat;
			background-size: cover;
		}
		a {
			float: left;
			display: inline-block;
			margin-right: 17px;
			margin-top: 4px;
			font-size: 13px;
			color: $white;
			&.arrow {
				display: inline-block;
				width: 29px;
				height: 29px;
				margin-top: 0;
				background: url(../images/arrow-circle.png) no-repeat;
			}
		}
	}
}



.reviews {
	h5 {
		margin-bottom: 20px;
	}
	h4 {
		margin: 0;
		font-size: 18px;
		line-height: 1;
		color: #494f5c;
	}
	h6 {
		font-size: 13px;
		color: #969696;
	}
	p {
		font-size: 13px;
	}
	.medium-11 {
		padding-left: 10px !important;
	}
	.stars {
		display: inline-block;
		margin-left: 20px;
		i {
			color: $primary-color;
			&.empty {
				color: #dcdcdc;
			}
		}
	}
	.review-form {
		em {
			color: red;
		}
		p {
			&:after {
				content:"";
				display:table;
				clear:both;	
			}
		}
		br {
			display: none;
		}
		label {
			float: left;
			width: 100px;
		}
		input[type="text"],
		input[type="email"] {
			float: left;
			margin: 0;
			max-width: 600px;
		}
		textarea {
			float: left;
			max-width: 600px;
			height: 200px;
			margin: 0;
		}
		input[type="submit"] {
			margin-left: 100px;
		}
	}
}